:root {
  --grey-050: rgba(248, 247, 248, 1);
  --grey-100: rgba(240, 238, 239, 1);
  --grey-200: rgba(217, 217, 217, 1);
  --grey-300: rgba(191, 186, 189, 1);
  --grey-400: rgba(156, 148, 152, 1);
  --grey-500: rgba(128, 119, 124, 1);
  --grey-600: rgba(104, 97, 101, 1);
  --grey-700: rgba(85, 79, 82, 1);
  --grey-800: rgba(73, 67, 70, 1);
  --grey-900: rgba(63, 59, 62, 1);
  --grey-950: rgba(32, 30, 31, 1);
  --orange-050: rgba(255, 245, 236, 1);
  --orange-100: rgba(255, 233, 211, 1);
  --orange-200: rgba(255, 207, 165, 1);
  --orange-300: rgba(255, 173, 109, 1);
  --orange-400: rgba(255, 126, 50, 1);
  --orange-500: rgba(255, 91, 10, 1);
  --orange-600: rgba(255, 64, 0, 1);
  --orange-700: rgba(204, 43, 2, 1);
  --orange-800: rgba(161, 34, 11, 1);
  --orange-900: rgba(130, 31, 12, 1);
  --orange-950: rgba(70, 12, 4, 1);
  --white: rgba(255, 255, 255, 1);
  --green-050: rgba(243, 249, 236, 1);
  --green-100: rgba(228, 242, 213, 1);
  --green-200: rgba(204, 229, 177, 1);
  --green-300: rgba(172, 212, 130, 1);
  --green-400: rgba(141, 192, 91, 1);
  --green-500: rgba(118, 176, 65, 1);
  --green-600: rgba(84, 131, 45, 1);
  --green-700: rgba(66, 101, 38, 1);
  --green-800: rgba(55, 81, 35, 1);
  --green-900: rgba(48, 70, 33, 1);
  --green-950: rgba(23, 37, 14, 1);
  --inter-regular-font-family: "Inter-Regular", Helvetica;
  --inter-regular-font-weight: 400;
  --inter-regular-font-size: 16px;
  --inter-regular-letter-spacing: 0px;
  --inter-regular-line-height: normal;
  --inter-regular-font-style: normal;
  --tittle-font-family: "Poppins-Medium", Helvetica;
  --tittle-font-weight: 500;
  --tittle-font-size: 32px;
  --tittle-letter-spacing: 0px;
  --tittle-line-height: normal;
  --tittle-font-style: normal;
}
